@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject CustomStateProvider AuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Выход</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@functions{
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity!.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
    async Task LogoutClick()
    {
        await AuthStateProvider.Logout();
        NavigationManager.NavigateTo("/login");
    }
}