@page "/"
@using DKCrm.Shared.Models
@using DKCrm.Client.Services.CurrencyService
<AuthorizeView>
    <Authorized>
        <h1>Hello
            @if (context.User.Identity != null)
            {
                @context.User.Identity.Name
            }
            !!</h1>
       
    </Authorized>
    <Authorizing>
        <h1>Загрузка ...</h1>
    </Authorizing>
</AuthorizeView>

@code
{
    List<string> t;
    protected override async Task OnInitializedAsync()
    {

    }
}

