@using DKCrm.Client.Pages.OrderManagement.Forms
@using DKCrm.Shared.Models.OrderModels
<MudDialog VisibleChanged="VisibleDialogChanged" Visible="VisibleDialog"
           Options="new DialogOptions() { FullWidth = true }">
    <TitleContent>
        <div style="text-align: right">
            <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="CloseClick" Color="Color.Info">Закрыть</MudButton>
        </div>
    </TitleContent>
    <DialogContent>
        <MudCard>
            <FormImportedProduct OnValidSubmit="Create"
                               ImportedProduct="ImportedProduct"
                               ButtonText="Сохранить"
                               TitleText="Создание единицы на поставку" 
                               />

        </MudCard>
    </DialogContent>
</MudDialog>


@code {
    [Parameter] public bool VisibleDialog { get; set; }
    [Parameter] public EventCallback RefreshProductList { get; set; }
    [Parameter] public EventCallback Close { get; set; }
    [Parameter] public ImportedOrder? Order { get; set; }
    [Parameter] public Product? Product { get; set; }
    [Parameter] public PurchaseAtExport? PurchaseAtExport { get; set; }
    [Parameter] public ImportedProduct? ImportedProduct { get; set; }

    protected override void OnParametersSet()
    {
        ImportedProduct ??= new ImportedProduct();

        if (Order != null)
        {
            ImportedProduct.ImportedOrder = Order;
            ImportedProduct.ImportedOrderId = Order.Id;
        }
    }

    async Task Create()
    {
        if (!await ConfirmationActionService.ConfirmationActionAsync("Подтвердите сохранение"))
            return;
        await ImportedProductManager.AddAsync(ImportedProduct!);
        await RefreshProductList.InvokeAsync();
       await CloseClick();
        _snackBar.Add("Элемент заказа создан");
    }
    

    [Parameter]public EventCallback<bool> VisibleDialogChanged { get; set; }
    async Task CloseClick()
    {
        VisibleDialog = false;
        await VisibleDialogChanged.InvokeAsync(VisibleDialog);
    }
}