@using DKCrm.Client.Pages.OrderManagement.Forms
@using DKCrm.Shared.Models.OrderModels
<MudDialog @bind-IsVisible="VisibleDialog" Options="new DialogOptions() { FullWidth = true }">
    <TitleContent>
        <div style="text-align: right">
            <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="Close" Color="Color.Info">Закрыть</MudButton>
        </div>
    </TitleContent>
    <DialogContent>
        <MudCard>
            <FormImportedOrder OnValidSubmit="Create"
                               ImportedOrder="Order"
                               ButtonText="Сохранить"
                               TitleText="Создание заказа на поставку" />

        </MudCard>
    </DialogContent>
</MudDialog>


@code {
    [Parameter] public bool VisibleDialog { get; set; }
    [Parameter] public EventCallback RefreshProductList { get; set; }
    [Parameter] public EventCallback Close { get; set; }
    public ImportedOrder Order { get; set; } = new();

    async Task Create()
    {
        Order.OurCompanyId = Order.OurCompany!.Id;
        Order.SellersCompanyId = Order.SellersCompany!.Id;
        await ImportedOrderManager.AddAsync(Order);
        await RefreshProductList.InvokeAsync();
        await Close.InvokeAsync();
        _snackBar.Add("Заказ создан");
    }
}