@page "/product/edit/{developerId:guid}"
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject IJSRuntime Js
<h3>Edit</h3>

<Form ButtonText="Update" Product="_product"
      OnValidSubmit="@EditDeveloper" />
@code {
    [Parameter] public Guid DeveloperId { get; set; }
    Product _product = new Product();
    protected override async Task OnParametersSetAsync()
    {
        _product = await Http.GetFromJsonAsync<Product>($"api/product/{DeveloperId}") ?? new Product();
    }
    async Task EditDeveloper()
    {
        await Http.PutAsJsonAsync("api/product", _product);
        await Js.InvokeVoidAsync("alert", $"Updated Successfully!");
        UriHelper.NavigateTo("product");
    }
}