.document__page {
    background: rgb(204,204,204);
}

.document__body {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 21cm;
    height: 29.7cm;
    padding: 30mm 45mm 30mm 45mm;
}

.document__body[size="A4"] {
  
}

.document__body[size = "A4"][layout = "portrait"] {
    width: 29.7cm;
    height: 21cm;
}

@media print {
    .document__page, .document__body {
        margin: 0;
        box-shadow: none;
    }
}
